---
heat_template_version: 2015-10-15
description: Testing
resources:
  {{ project.name }}:
    type: OS::Keystone::Project
    properties:
      name: {{ project.name }}
  {{ project.name }}_quota:
    type: OS::Nova::quota
    properties:
      project: {{ project.name }}
      instances: {{ project.quota.instances }}
      cores: {{ project.quota.cores }}
      ram: {{ project.quota.ram }}
      floating_ips: {{ project.quota.floating_ips }}
